<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
	<a class="navbar-brand" <%= link_to 'Ruby on Rails tutorijal blog app', controller: 'posts' %>
   </div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', controller: 'posts' %></li>
	  <li><%= link_to 'Novi post', new_post_path %></li>
	</ul>
  </div>
		
</nav>




<div class="container">
<%= render 'layouts/messages' %>